<h2>About:</h2>
<p>
  I'm Dr. Acula and this is my blog?
</p>
<p>
  <button class="btn btn-primary" {{ action 'showRealName' }}>Click here to learn Dracula's real name!</button>

  {{#if isPictureShowing}}
    <button class="btn btn-info" {{ action 'hidePicture' }}>Hide this picture</button><br>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSYDZ-YHE6HnlBwLa_ASb8s8PBqjKjdrnqHPaiai0skCIPzVN0Y">
  {{else}}
    <button class="btn btn-info" {{ action 'showPicture' }}>Click here to see a picture of Dracula</button>
  {{/if}}
</p>
