<h2>Contact:</h2>
<p>
  Want to get in touch?
</p>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li>{{#link-to 'contact.phone'}}Phone{{/link-to}}</li>
      <li>{{#link-to 'contact.email'}}Email{{/link-to}}</li>
    </ul>
    <p>
      Or, <a href="#" {{ action 'sendMessage' }}>click here</a> to send a secret message
    </p>
  </div>
  <div class="col-md-6">
    {{outlet}}
  </div>
</div>
